body {
	font-family: 'Noto Sans', sans-serif !important;
}

section {
	color: #525C66;
}

footer {
	color: #525C66;
}

h1 {
	color: #525C66;
}

a {
	-webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a img {
	-webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a h2 {
	color: #525C66;
}

p {
	color: #748392;
}

a:hover {
	text-decoration: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

.work-panel a {
	text-decoration: none;
	display: inline-block;
}

.work-link:hover {
	transform: translate(0, -20px);
}

.navbar-fixed-top {
	position: absolute;
}

#logo-img {
	position: absolute;
	height: 70%;
	width: auto;
	margin-top: 8px;
	left: 50%;
	transform: translate(-50%, 0);
}

#logo-img:hover {
	opacity: .9;
}

.btn {
	box-shadow: 0 4px 6px 0px #8ca5af;
}

.btn:hover {
	box-shadow: 0 7px 6px 0px #8ca5af;
	transform: translate(0, -3px);
}

.btn-blue {
	background-color: #60B5EF;
	color: #ffffff;
}

.btn-white {
	background-color: #ffffff;
	color: #60B5EF;
}

.btn-blue:hover {
	opacity: .85;
	color: #ffffff;
}

.btn-white:hover {
	opacity: .85;
	color: #60B5EF;
}

.work-panel {
	text-align: center;
	margin-bottom: 4em;
}

#message-text {
	line-height: 1.5em;
	color: #ffffff;
}

#reasons {
	margin-top: 3em;
}

.social-media a {
	text-decoration: none;
	color: #525C66;
}

.full-width {
	width: 100%;
	text-align: center;
}

.next {
	display: inline;
	opacity: .4;
}

.next:hover {
	opacity: 1;
}

.next {
	-webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.bottom-margin {
	margin-bottom: 8em;
}

@media screen and (min-width: 1000px) {

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	.jumbotron {
		background: url("../imgs/home/coverphoto.jpg") no-repeat center center;
		width: 100%;
		height: 600px;
		background-size: cover;
		color: #ffffff;
	}

	.jumbotron h1 {
		margin-top: 30%;
		font-size: 3.7em;
	}

	.btn {
		font-size: 1.4em !important;
		margin-right: 2em;
	}

	.work {
		width: 226px;
	}

	#message {
		background-color: #525C66;
		color: #ffffff;
	}

	#message-text {
		margin-top: 3em;
		margin-bottom: 3em;
	}

	section p {
		font-size: 1.3em;
		color: #748392;
	}

	li {
		font-size: 1.2em;
		color: #748392;
	}

	.reasons-img {
		position: absolute;
		width: 400px;
		transform: translateY(-17em);
	}

	footer {
		background-color: #F2F5F7;
		margin-top: 10em;
	}

	.bottom-nav {
		margin-top: 6em;
		font-size: 1em !important;
		opacity: .6;
		padding-bottom: 1em;
	}

	.social-media-links {
		list-style: none;
		display: inline;
	}

	#copyright {
		display: inline;
		font-size: 1em;
		float: left;
	}

	.social-media {
		display: inline;
		float: right;
		margin-left: 3em;
		font-size: 1em;
		text-decoration: none;
	}

	.big-img {
		padding-left: 35%;
		padding-right: 35%;
	}
}

@media screen and (min-width: 768px) and (max-width: 999px) {

	h1 {
		font-size: 1.7em;
	}

	h2 {
		font-size: 1.2em;
	}

	.jumbotron {
		background: url("../imgs/home/coverphoto.jpg") no-repeat center center;
		width: 100%;
		height: 500px;
		background-size: cover;
		color: #ffffff;
	}

	.jumbotron h1 {
		margin-top: 30%;
		font-size: 3em;
	}

	.btn {
		font-size: 1.2em !important;
		margin-right: 2em;
		box-shadow: 0 4px 6px 0px #8ca5af;
	}

	.work {
		width: 200px;
	}

	#message {
		background-color: #525C66;
		color: #ffffff;
	}

	#message-text {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	section p {
		font-size: 1.1em;
		color: #748392;
	}

	li {
		font-size: 1.1em;
		color: #748392;
	}

	.reasons-img {
		margin-top: 1em;
		width: 200px;
	}

	footer {
		background-color: #F2F5F7;
		margin-top: 3em;
	}

	.bottom-nav {
		margin-top: 6em;
		font-size: 1em !important;
		opacity: .6;
		padding-bottom: 1em;
	}

	.social-media-links {
		list-style: none;
		display: inline;
	}

	#copyright {
		display: inline;
		font-size: 1em;
		float: left;
	}

	.social-media {
		display: inline;
		float: right;
		margin-left: 3em;
		font-size: 1em;
		text-decoration: none;
	}

	.big-img {
		padding-left: 30%;
		padding-right: 30%;
	}
}

@media screen and (max-width: 767px) {

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1em;
	}

	.jumbotron {
		background: url("../imgs/home/coverphoto.jpg") no-repeat center center;
		width: 100%;
		height: 400px;
		background-size: cover;
		color: #ffffff;
	}

	.jumbotron h1 {
		margin-top: 30%;
		font-size: 2.2em;
	}

	.btn {
		font-size: 1em !important;
		margin-right: 2em;
		box-shadow: 0 4px 6px 0px #8ca5af;
	}

	.work {
		width: 200px;
	}

	#message {
		background-color: #525C66;
		color: #ffffff;
	}

	#message-text {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	section p {
		font-size: 1em;
		color: #748392;
	}

	li {
		font-size: 1em;
		color: #748392;
	}

	.reasons-img {
		margin-top: 1em;
		width: 200px;
	}

	footer {
		background-color: #F2F5F7;
		margin-top: 3em;
	}

	.bottom-nav {
		text-align: center;
		margin-top: 6em;
		font-size: 1em !important;
		opacity: .6;
		padding-bottom: 1em;
	}

	.social-media-links {
		list-style: none;
	}

	#copyright {
		font-size: .8em;
	}

	.social-media {
		display: inline;
		margin-left: 1em;
		font-size: .8em;
		text-decoration: none;
	}

	.big-img {
		padding-left: 25%;
		padding-right: 25%;
	}
}