.login-html {
    height: 100%;
}

h2 {
    text-align: center;
    color: #777777;
}

#bm-404 {
    margin-top: -100px;
}

.login-body {
    background: url(../Website-Assets/images/login-bg.jpg) no-repeat center center;
    height: 100%;
    background-size: cover;
    padding-top: 10%;
}

.login-field {
    background-color: #ffffff;
}

.center {
    display: block;
    margin: auto;
}

.logo-bg-color {
    background-color: #ed3e7d;
}

.logo-bg-color:hover {
    background-color: #ed3e7d;
    opacity: .8;
}

@media screen and (min-width: 1200px) {
    .logo-col {
        width: 15%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 540px) {
    .logo-col {
        width: 30%;
    }
}

@media screen and (max-width: 539px) {
    .logo-col {
        width: 50%;
    }
}